<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="col-sm-8 offset-sm-2">
      <p>Add New Employee</p>
      <div class="mb-3 form-group">
        <label class="form-label">Employee Name</label>
        <input type="text" class="form-control" placeholder="Enter employee name" formControlName="empName">
        <div class="alert alert-danger" *ngIf="employeeForm.controls['empName'].hasError('required')">Employee name is required</div>
        <div class="alert alert-danger" *ngIf="employeeForm.controls['empName'].hasError('minlength')">Please enter atleast 3 characters</div>
        <div class="alert alert-danger" *ngIf="employeeForm.controls['empName'].hasError('maxlength')">Name can't exceed 10 characters</div>
      </div>

      <div class="mb-3 form-group">
        <label class="form-label">Department</label>
        <select class="form-control" formControlName="deptId">
          <option *ngFor="let dept of department$ | async" value="{{dept.deptId}}">{{dept.deptName}}
          </option>
        </select>
        <div class="alert alert-danger" *ngIf="employeeForm.invalid && (employeeForm.dirty || employeeForm.touched) && employeeForm.controls['deptId'].hasError('required')">Please select department name</div>

      </div>
      <button type="submit" class="btn btn-sm btn-success">Save</button> &nbsp;<a class="btn btn-sm btn-warning" routerLink="/employee">Cancel</a>
    </div>
  </div>
</form>


